/* Estilos específicos para los botones de editar y eliminar */
.act-del-btn-container {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    justify-content: center; /* Alinea los botones al centro */
  }
  
  .act-del-btn {
    background-color: #3d2666;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 300px; /* Ajusta el tamaño de los botones si es necesario */
  }
  
  .act-del-btn:hover {
    background-color: #7654af;
  }
  
  .go-back-btn {
    width: 100px;
    height: 40px;
  }

  .user-info-top {
    display: flex;
    flex-direction: row;
    gap: 280px;
  }