/* Estilo para el footer */
footer {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: 10px; /* Ajusta la altura del footer según sea necesario */
  background-color: #ffffff; /* Fondo blanco */
  padding: 8px 0; /* Espaciado ajustado, sin padding lateral */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra el contenido verticalmente */
  position: absolute; /* Lo mantiene en la parte inferior de la pantalla */
  bottom: 0; /* Fija el footer al final */
  left: 0; /* Asegura que el footer esté alineado desde el borde izquierdo */
  margin: 0; /* Elimina cualquier margen adicional */
  padding-left: 0; /* Elimina padding extra a la izquierda */
  padding-right: 0; /* Elimina padding extra a la derecha */
}

.footer-p {
  color: #3d2666;
  margin: 0; /* Asegura que el texto no tenga márgenes adicionales */
}
