header {
  width: 100%; 
  background-color: #ffffff; 
  padding: 1em 2em; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
  
}

.top-bar h1 {
  margin: 0;
  font-style: italic; 
  font-size: 44px;
  font-weight: 350; 
  color: #3d2666; 
  font-family: 'Roboto', sans-serif; 
}

.top-bar button {
  background-color: #3d2666; 
  border: none;
  padding: 0.5em 1.5em;
  margin-right: 80px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}

.top-bar button:hover {
  background-color: #7654af; 
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #3d2666; 
  padding:12px;
  position: fixed;
  top: 80px; 
  left: 0;
  right: 0;
  z-index: 999;
}

nav ul {
  display: flex;
  gap: 280px;
  margin: 0; 
  padding: 10; 
  list-style-type: none; 
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color:#8e66d1; 
}

body {
  padding-top: 120px; 
}

.login, .signup {
  width: 280px;
  height: auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav li {
  display: inline;
  margin-right: 20px; 
}
