.user-info-container {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #706b6b;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    margin-top: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 700px;
    height: 730px;
    margin: 0 auto;
  }
  
  .user-info-container h2 {
    font-size: 28px;
    color: black;
  }
  
  .user-details p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .user-details {
    font-size: 30px;
    font-weight: 500;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .go-back-btn, .edit-btn, .delete-btn, .submit-btn, .cancel-btn {
    background-color: #3d2666;
    color: white;
    font-size: 17px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    margin-top: 10px;
    width: 90px;
  }
  
  .go-back-btn:hover, .edit-btn:hover, .delete-btn:hover, .submit-btn:hover, .cancel-btn:hover {
    background-color: #7654af;

  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group span {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .form-group input {
    font-size: 17px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .edit-delete-btn {
    background-color: #3d2666;
    color: white;
    margin: 20px;
    margin-top: 70px;
  }
  
  .edit-delete-btn:hover {
    background-color: #7654af;
  }
  

  
  img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 50%; 
  }
  